body {
    /* width: 1000px; */
    margin: 0px auto;
    font-family: "roboto";
}

.nav-bar {
    background-color: #659043;
}

.header, .header ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header {
    padding: 20px;
    align-items: center;
    color: #fff;
    max-width: 1000px;
    margin: auto;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header a {
    text-decoration: none;
    font-size: 21px;
}

.logo {
    font-size: 28px;
    font-family: "Chilanka";
}
