body {
    margin: 0px auto;
    font-family: "roboto";
    font-weight: 100;
    /* background: #659043; */
}

/* Nav bar */
.nav-bar {
    background-color: #659043;
}

.header, .header ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header {
    padding: 20px;
    align-items: center;
    color: #fff;
    max-width: 1000px;
    margin: auto;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.header a {
    text-decoration: none;
    font-size: 21px;
}

.logo {
    font-size: 32px;
    font-family: "Chilanka";
}

/* Hero Block */

.hero-block {
    background-color: #659043;
    margin: 0px;
    color: #fff;
}

.hero-content {
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 80px 20px;
}

.hero-text {
    margin-top: 20px;
}

 img {
    flex:1;
    height: auto;
    width: 550px;
    margin-bottom: auto;
    border-radius: 10px;
 }

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 31px;
    font-family: "Chilanka";
}
p {
    margin: 4px 0px;
}

button {
    margin-top: 20px;;
    padding: 8px 32px;
    border: 0px;
    border-radius: 20px;
    color: #659043;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.24), 0 7px 10px 0 rgba(0,0,0,0.19);
}
button:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.24), 5px 12px 15px 0 rgba(0,0,0,0.19);
}

/* Multi-card section  */

.multi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    justify-content: center;
    margin: auto;
    padding: 40px 0px;
    background-color: #fff;
}

.cards {
    display: flex;
    gap: 16px;
    text-align: center;
    margin-top: 20px;
}

.cards p {
    margin-top: 20px;
}

h2 {
    font-size: 31px;
    font-family: "Chilanka";
}
