body {
    /* width: 1000px; */
    margin: 0px auto;
    font-family: "roboto";
}

/* Nav bar */
.nav-bar {
    background-color: #659043;
}

.header, .header ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header {
    padding: 20px;
    align-items: center;
    color: #fff;
    max-width: 1000px;
    margin: auto;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header a {
    text-decoration: none;
    font-size: 21px;
}

.logo {
    font-size: 28px;
    font-family: "Chilanka";
}

/* Hero Block */

.hero-block {
    background-color: #659043;
    margin: 0px;
    color: #fff;
}

.hero-content {
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 80px 20px;
}

.hero-text {
    margin-top: 20px;
}

 img {
    flex:1;
    height: auto;
    width: 550px;
    margin-bottom: auto;
 }

h1 {
    margin: 0px;
}

button {
    padding: 8px 16px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #ac8b92;
    font-size: 16px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 10px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #7e676f;
  }